* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#maincontainer {
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.formcontainer {
  height: 50%;
  width: 50%;
  /* border: 2px solid red; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
  transition: 0.8s;
  border: none;
}
.formcontainer:hover {
}
.imgcontainer {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}
.imgcontainer img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  transition: 0.4s;
}
.imgcontainer img:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.inputcontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px 50px;
}

.inputcontainer label {
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: darkblue;
  transition: 0.4s;
}
.inputcontainer label:hover {
  font-size: 23px;
  font-weight: bold;
  color: rgb(24, 24, 224);
  margin-left: 10px;
}
.inputcontainer input:focus {
  outline: none;
  border-bottom: 1px solid rgb(49, 134, 199);
}

.inputcontainer input {
  width: 60%;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  font-size: 18px;
  caret-color: #47b5ff;
}
.btncontainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.btncontainer button {
  padding: 5px 40px;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #47b5ff;
  color: #f9f9f9;
  border: none;
  box-shadow: 0px 0px 10px 0px rgb(11, 106, 188);
  transition: 0.4s;
}
.btncontainer button:hover {
  padding: 5px 80px;
  background-color: #5fd068;
  box-shadow: 0px 0px 10px 0px rgb(20, 163, 106);
}
